:root {
  color-scheme: dark;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
  accent-color: #7c3aed;

  --hex-size: 5rem;

  --color0: #000000;
  --color1: #62e062;
  --color2: #135806;
  --color3: #71881c;
  --color4: #2360bd;
  --color5: #6b3219;
  --color6: #424242;
}

#grid-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin-top: 2rem;
}

.hex-col {
  display: flex;
  flex-direction: column;
}

.hex-col.offset {
  padding-block-start: calc(var(--hex-size) * 0.5);
}

.hex-col:not(.offset) {
  padding-block-end: calc(var(--hex-size) * 0.5);
}

.hex-border {
  height:             var(--hex-size);
  width:              var(--hex-size);
  background: white;
  margin:             0px calc(-0.25 * var(--hex-size)) 0px 0px ;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  padding: 2px;
}

.hex-border:hover {
  background: #6297e7;
}

.hex-cell {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(7, 3, 27);
  color: #e2e8f0;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.hex-cover {
  height: 100%;
  width: 100%;
  background: transparent;
}

/* .hex-cover:hover {
  background: rgba(255, 255, 255, 0.2);
} */

.c0 {
  background: var(--color0);
}

.c1 {
  background: var(--color1);
}

.c2 {
  background: var(--color2);
}

.c3 {
  background: var(--color3);
}

.c4 {
  background: var(--color4);
}

.c5 {
  background: var(--color5);
}

.c6 {
  background: var(--color6);
}